.logo{
    height: 70%;
    width: 40%;
}
.navheader{
    display: flex;
    justify-content: center;
    flex-flow: wrap row;
}
.navbar-dark .navbar-nav .nav-link {
    color: white;
}
.navbar-dark .navbar-nav .nav-link:hover {
    color: lightcoral;
}

.size{
    display: block;
    margin: auto;
    width: 70%;
    height: auto;
}

.cover-dog{
    height: 300px;
    background: url(images/Dog\ shop\ icon.jpg),url(images/dog\ toy.jpg),url(images/Dog\ bed.jpg);
    background-position: left, right, top;
    background-repeat: no-repeat, no-repeat,no-repeat;
    background-size: 34% 100%, 33% 100%, 34.2% 100%;
    margin-bottom: 5px;
}
.cover-image{
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    justify-content: center;
    height: 140px;
}
.cover-image button{
    width: 200px; 
    height: 50px;
    border-radius: 10px;
    background-color: pink;
    color: white;
    border-color: pink;
    margin-left: auto;
    margin-right: auto;
}

.petshop-dog-button:hover{
    box-shadow: 4px 4px gray;
    transition: .3s;
}

.petshop-cat-button:hover{
    box-shadow: 4px 4px gray;
    transition: .3s;
}

.petshop-header-image{
    width: 40%;
    height: 300px;
}

.petshop-header{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 300px;
}

.petshop-information{
    display: flex;
    background-color: lightblue;
    justify-content: center;
    width: 60%;
    height: 300px;
    overflow: hidden;
}

.petshop-information-content{
    text-align: center;
    flex-flow: column wrap;
    width: 90%;
    align-items: center;
}

.cover-cat{
    height: 300px;
    background: url(images/ciao\ sticks.jpg),url(images/cat\ toy.jpg),url(images/litter\ box.jpg);
    background-position: left, right, top;
    background-repeat: no-repeat, no-repeat,no-repeat;
    background-size: 34% 100%, 33% 100%, 34.2% 100%;
}

* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Float four columns side by side */
 .float{
     float:right;
 }

 *{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Exo', sans-serif;
}

.content{
    z-index: 1;
    position: inherit;
}




.area{
    display: block;
    background: #4e54c8;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:80vh;
    position: relative;
    z-index: -1;
    
   
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 10px;
    height: 10px;
    background: transparent;
    animation: animate 25s linear infinite;
    bottom: -150px;
    
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 10%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}
.circles li:nth-child(11){
    left: 45%;
    width: 120px;
    height: 120px;
    animation-delay: 5s;
}

.circles li:nth-child(12){
    left: 30%;
    width: 90px;
    height: 90px;
    animation-delay: 2s;
    animation-duration: 8s;
}

.circles li:nth-child(13){
    left: 30%;
    width: 40px;
    height: 40px;
    animation-delay: 0s;
}

.circles li:nth-child(14){
    left: 10%;
    width: 110px;
    height: 110px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(15){
    left: 65%;
    width: 76px;
    height: 76px;
    animation-delay: 3s;
}

.circles li:nth-child(16){
    left: 80%;
    width: 110px;
    height: 110px;
    animation-delay: 5s;
}

.circles li:nth-child(17){
    left: 10%;
    width: 150px;
    height: 150px;
    animation-delay: 1s;
}

.circles li:nth-child(18){
    left: 10%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(19){
    left: 80%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(20){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 6s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
  }
  
.buynowbutton {
      width: 150px;
      height: 50px;
      cursor: pointer;
      display: flex;
      align-items: center;
      background: red;
      border: none;
      border-radius: 5px;
      box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
      background: #e62222;
  }
  
.buynowbutton, button span {
      transition: 350ms;
  }
  
.buynowbutton .text {
      transform: translateX(5px);
      color: white;
      font-weight: bold;
  }
  
.buynowbutton .icon {
      position: absolute;
      border-left: 1px solid #c41b1b;
      transform: translateX(100px);
      height: 50px;
      width: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
  }

.buynowbutton:hover {
      background: #ff3636;
  }
  
.buynowbutton:hover .text {
      color: transparent;
  }
  
.buynowbutton:hover .icon {
      width: 150px;
      border-left: none;
      transform: translateX(0px);
    }
  
.buynowbutton:focus {
      outline: none;
  }

.petshop-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    background-color: white;
}

.petshop-item-container{
    display: flex;
    flex-flow: column;
    margin: 20px;
    background-color: whitesmoke;
    width: 400px;
    position: relative;
    border-style: solid;
}

.petshop-item-container img{
    height: 400px;
    display: block;
}

.petshop-item h1{
    font-weight: bold;
    font-size: 28px;
}

.petshop-item{
    display: flex;
    flex-flow: column wrap;
    width: 95%;
    text-align: start;
    margin: auto;
    text-align: center;
}

.image-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    background-color: rgba(0, 0,0,0.6);
    color: white;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
}

.image-overlay:hover{
    opacity: 1 ;
}


.zoom {
    overflow: hidden;
    margin: 0 auto;
}

.zoom img {
    width: 100%;
    transition: 0.5s all ease-in-out;
}

.zoom:hover img {
    transform: scale(1.5);
}

.donation-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.donation-content{
    width: 45%;
    margin: 30px;
    text-align: center;
    border-style: solid;
    border-color: gray;
    border-width: 2px;
}

.donation-tier-container{
    display: flex;
    flex-flow: column wrap;
    margin: 30px;
    width: 45%;
}

.donation-frequency{
    text-align: center;
}

.donation-frequency button{
    width: 200px;
    height: 60px;
}

.donation-amount-container{
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}
.donation-amount button{
    width: 150px;
    height: 60px;
    margin: 10px;
}

input[type=number]{
    border:3px solid #555;
    height: 60px;
    min-width: 150px;
    font-size: 30px;
}

.checkout button{
    width: 100%;
    font: 30px;
    height: 80px;
    border-radius: 15px;
    background-color: black;
    color: white;
}

.donation-receipt{
    background-color: black;
    color: white;
    text-align: center;
}

.donation-receipt button{
    width: 20%;
    font: 30px;
    height: 60px;
    border-radius: 15px;
    background-color: white;
    color: black;
}
.collapsible {
    background-color: #4e54c8;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .a, .collapsible:hover {
    background-color: blue;
  }
  
  .collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .a:after {
    content: "\2212";
  }
  
  .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
  }

  .box1{
    border-radius: 25px 25px 25px 25px;width:60%;height: auto;background-color: white;display: block;margin-left:5%;margin-top:4%;float:left
  }
  .box2{
    border-radius: 25px 25px 25px 25px;width:30%;height: auto;background-color: white;margin-left:67%;margin-top:4.6%;
  }

  .boxy{
    font-family: 'Fuzzy Bubbles', cursive;color: #4e54c8;
  }
  @media only screen and (max-width: 850px) {
      .box1{
          width:80%;
          margin:auto;
          float:none;
          margin-bottom: 5%;
      }
      .box2{
        width :80%;
        margin:auto;
      }
      .footer{
          margin: auto;
          clear:both;
      }
      .boxy{
          padding-top:10%;
      }
    
  }

  p.font{
    font-family: 'Roboto', sans-serif;
  }

  .footer {
    clear: both;
    position: relative;
}

@media only screen and (max-width: 1200px) {
    .shopbut{
        display: none;
    }
    .form-control{
        width:100%;
    }

}
