.logo{
    height: 70%;
    width: 40%;
}
.navheader{
    display: flex;
    justify-content: center;
    flex-flow: wrap row;
}
.navbar-dark .navbar-nav .nav-link {
    color: white;
    border-radius: 20px;
}
.navbar-dark .navbar-nav .nav-link:hover {
    color: lightcoral;
}

.size{
    display: block;
    margin: auto;
    width: 70%;
    height: auto;
}

.cover-dog{
    height: 300px;
    background: url(images/Dog\ shop\ icon.jpg),url(images/Pugtoy.jpg),url(images/Dog\ bed.jpg);
    background-position: left, right, top;
    background-repeat: no-repeat, no-repeat,no-repeat;
    background-size: 32% 100%, 32% 100%, 32% 100%;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right:10px;
}
.cover-image{
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    justify-content: center;
    height: 140px;
}
.cover-image button{
    width: 200px; 
    height: 50px;
    border-radius: 10px;
    background-color: pink;
    color: white;
    border-color: pink;
    margin-left: auto;
    margin-right: auto;
}

.petshop-dog-button:hover{
    box-shadow: 4px 4px gray;
    transition: .3s;
}

.petshop-cat-button:hover{
    box-shadow: 4px 4px gray;
    transition: .3s;
}

.petshop-header-image{
    width: 600px;
    height: 400px;
}

.petshop-header{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    background-color: #fae5be;
}

.petshop-information{
    display: flex;
    justify-content: center;
    width: 60%;
    height: 100%;
    text-align: center;
}

.petshop-information-content{
    text-align: center;
    flex-flow: column wrap;
    width: 90%;
    margin: 30px;
    text-align: center;
}

.cover-cat{
    height: 300px;
    background: url(images/Cat\ food\ wet.jpg),url(images/cattoy.jpg),url(images/litter\ box\ reshaped.jpg);
    background-position: left, right, top;
    background-repeat: no-repeat, no-repeat,no-repeat;
    background-size: 32% 100%, 32% 100%, 32% 100%;
    margin-left: 10px;
    margin-right:10px;
}

* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Float four columns side by side */
 .float{
     float:right;
 }

 *{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Exo', sans-serif;
}

.content{
    z-index: 1;

}




.area{
    background: #4e54c8;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:80vh;
    position: relative;
    z-index: -1;
    
   
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 10px;
    height: 10px;
    background: transparent;
    animation: animate 25s linear infinite;
    bottom: -150px;
    
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 10%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}
.circles li:nth-child(11){
    left: 45%;
    width: 120px;
    height: 120px;
    animation-delay: 5s;
}

.circles li:nth-child(12){
    left: 30%;
    width: 90px;
    height: 90px;
    animation-delay: 2s;
    animation-duration: 8s;
}

.circles li:nth-child(13){
    left: 30%;
    width: 40px;
    height: 40px;
    animation-delay: 0s;
}

.circles li:nth-child(14){
    left: 10%;
    width: 110px;
    height: 110px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(15){
    left: 65%;
    width: 76px;
    height: 76px;
    animation-delay: 3s;
}

.circles li:nth-child(16){
    left: 80%;
    width: 110px;
    height: 110px;
    animation-delay: 5s;
}

.circles li:nth-child(17){
    left: 10%;
    width: 150px;
    height: 150px;
    animation-delay: 1s;
}

.circles li:nth-child(18){
    left: 10%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(19){
    left: 80%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(20){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 6s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
  }
  
.buynowbutton {
      width: 150px;
      height: 50px;
      cursor: pointer;
      display: flex;
      align-items: center;
      background: red;
      border: none;
      border-radius: 5px;
      box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
      background: #e62222;
  }
  
.buynowbutton, button span {
      transition: 350ms;
  }
  
.buynowbutton .text {
      transform: translateX(5px);
      color: white;
      font-weight: bold;
  }
  
.buynowbutton .icon {
      position: absolute;
      border-left: 1px solid #c41b1b;
      transform: translateX(100px);
      height: 50px;
      width: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
  }

.buynowbutton:hover {
      background: #ff3636;
  }
  
.buynowbutton:hover .text {
      color: transparent;
  }
  
.buynowbutton:hover .icon {
      width: 150px;
      border-left: none;
      transform: translateX(0px);
    }
  
.buynowbutton:focus {
      outline: none;
  }

.petshop-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    background-color: white;
    height: fit-content;
}

.petshop-item-container{
    display: flex;
    flex-flow: column;
    margin: 20px;
    background-color: whitesmoke;
    width: 400px;
    position: relative;
    border-style: solid;
}

.petshop-item-container img{
    height: 400px;
    display: block;
}

.petshop-item h1{
    font-weight: bold;
    font-size: 28px;
}

.petshop-item{
    display: flex;
    flex-flow: column wrap;
    width: 95%;
    text-align: start;
    margin: auto;
    text-align: center;
}

.image-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    background-color: rgba(0, 0,0,0.6);
    color: white;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
}

.image-overlay:hover{
    opacity: 1 ;
}


.zoom {
    overflow: hidden;
    margin: 0 auto;
}

.zoom img {
    width: 100%;
    transition: 0.5s all ease-in-out;
}

.zoom:hover img {
    transform: scale(1.5);
}

.donation-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.donation-content{
    width: 45%;
    margin: 30px;
    text-align: center;
    border-style: solid;
    border-color: gray;
    border-width: 2px;
}

.donation-tier-container{
    display: flex;
    flex-flow: column wrap;
    margin: 30px;
    width: 45%;
}

.donation-frequency{
    text-align: center;
}

.donation-amount-container{
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}

input[type=number]{
    border:3px solid #555;
    height: 60px;
    min-width: 150px;
    font-size: 30px;
}

.donation-button{
    width: 100%;
    font: 30px;
    height: 80px;
    border-radius: 15px;
    background-color: black;
    color: white;
}

.donation-receipt{
    background-color: black;
    color: white;
    text-align: center;
}

.donation-receipt button{
    width: 20%;
    font: 30px;
    height: 60px;
    border-radius: 15px;
    background-color: white;
    color: black;
}
.collapsible {
    background-color: #4e54c8;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .a, .collapsible:hover {
    background-color: blue;
  }
  
  .collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .a:after {
    content: "\2212";
  }
  
  .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
  }

  .box1{
    border-radius: 25px 25px 25px 25px;width:60%;height: auto;background-color: white;display: block;margin-left:5%;margin-top:4%;float:left
  }
  .box2{
    border-radius: 25px 25px 25px 25px;width:30%;height: auto;background-color: white;margin-left:67%;margin-top:4.6%;
  }

  .boxy{
    font-family: 'Fuzzy Bubbles', cursive;color: #4e54c8;
  }
  @media only screen and (max-width: 850px) {
      .box1{
          width:80%;
          margin:auto;
          float:none;
          margin-bottom: 5%;
      }
      .box2{
        width :80%;
        margin:auto;
      }
      .footer{
          margin: auto;
          clear:both;
      }
      .boxy{
          padding-top:10%;
      }
    
  }

  p.font{
    font-family: 'Roboto', sans-serif;
  }

  .footer {
    clear: both;
    position: relative;
}

@media only screen and (max-width: 1200px) {
    .shopbut{
        display: none;
    }
    .form-control{
        width:100%;
    }

}


.CartRow{
    display: flex;
    padding: 20px;
    height: 200px;
}

.CartColumn{
    display: flex;
    align-items: center;
    border-bottom: 2px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
    width: 100%;
    height: 190px;
}

.CartFlex{
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    width: 100%;
}

.CartTitle{
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 20px;
    width: 60%;
    
}

.CartImage{
    width: 200px;
    height: 100%;
    border-radius: 10px;
}

.CartQuantity{
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 20px;
    margin-left: 40%;
}

.ProductRemove{
    text-align: center;
    vertical-align: middle;
    padding: 10px;
    cursor: pointer;
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    margin: 20px;
}

.ProductRemove:hover{
    background-color: #CC4C4C;
    
}

.CartPrice{
    width: 100px;
    font-size: 20px;
    color: #333;
}

.CartTotal{
    color: #333;
    font-size: 30px;
}

.CartTotalTitle{
    font-weight: bold;
    font-size: 30px;
    color: black;
    margin-right: 20px;
}

.WholeCart{
    margin: 20px;
}

.Purchase-Container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.PurchaseButton{
    margin: 40px auto 80px auto;
    font-size: 30px;
    text-align: center;
    padding: 20px;
    cursor: pointer;
    color: white;
    background-color: #56CCF2;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
}

.PurchaseButton:hover{
    box-shadow: 4px 4px gray;
    transition: .3s;
}

.STW{
    display: flex;
    width: 100%;
    height: fit-content;
    background-color: #fae5be;
    flex-flow:row wrap;
}

.STWhrefcontainer{
    width: 100%;
    background-color: #fae5be;
}

.STWhrefcontainer img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.STW-content{
    display: flex;
    flex-flow: column wrap;
    left: 5%;
    margin-top: 4%;
    width: 100%;
    align-items: center;
    text-align: center;
}

.STW-content h3{
    font-size: 40px;
    margin: 10px;
}

.app{
    width: 100%;
    height: auto;
    margin: 0;
    position: relative;
    margin-left: 100px;
}

.STW-Marker{
    position: absolute;
    width: 60px;
    top: 450px;
    left: 220px;
    transform: rotate(180deg);
    z-index: 1;
}

.STW-container{
    margin: 25px;
    width: 45%;
}

.STW-Wheel{
    width: 500px;
    height: 500px;

}

.STW-Button{
    display: block;
    width: 400px;
    margin: 40px;
    cursor: pointer;
    margin-left: 50px;
}

.STW-Button:hover{
    opacity: 0.8;
}

.STW-Display{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 50px;
    border-radius: 20px;
    text-align: center;
    font-size: 2rem;
    margin: 20px;
    background-color: white;
    color: black;
}

.donation-frequency input[type="radio"]{
    opacity: 0;
    position: fixed;
    width: 0;
}

.donation-frequency input[type="radio"]:checked + label{
    box-shadow: inset 1px 2px 5px #777;
    transform: translateY(1px);
    background: #e5e5e5;
    cursor:auto;
    
}



.donation-frequency input[type="radio"]:focus + label{
    border: 2px solid black;
}

.donation-frequency label{
    display: inline-block;
    background-color: white;
    padding: 15px 20px;
    font-size: 16px;
    border: 2px solid #444;
    border-radius: 4px;
    width: 150px;
    height: 60px;
    margin: 10px;
    cursor: pointer;
}

.donation-amount input[type="radio"]{
    opacity: 0;
    position: fixed;
    width: 0;
}

.donation-amount input[type="radio"]:checked + label{
    box-shadow: inset 1px 2px 5px #777;
    transform: translateY(1px);
    background: #e5e5e5;
    cursor: auto;
}

.donation-amount input[type="radio"]:focus + label{
    border: 2px solid black;
}

.donation-amount label{
    display: inline-block;
    background-color: white;
    padding: 15px 20px;
    font-size: 16px;
    border: 2px solid #444;
    border-radius: 4px;
    width: 150px;
    height: 60px;
    margin: 10px;
    cursor: pointer;
}

.Donation-Button-Modal{
    width: 50%;
    font: 30px;
    height: 40px;
    border-radius: 15px;
    background-color: black;
    color: white;
}

.modal-footer{
    justify-content: center;
}

.modal-body input{
    width: 300px;
    height: 40px;
}

.CheckoutContainer{
    display: flex;
    width: 70%;
    flex-flow: row;
    background-color: lightgray;
    margin-left: 15%;
}

.CheckoutContent{
    display: flex;
    flex-flow: column wrap;
    width: 50%;
}

.CheckoutTitle{
    text-align: center;
}

.Formtitle{
    margin-left: 5%;
    font-weight: bold;
    font-size: 20px;
}

.CheckoutInput {
    width: 80%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-left: 5%;
}

.CheckoutEntity{
    display: flex;
    flex-flow: column wrap;
    padding: 7px;
}

.ImageContainer{
    display: flex;
    margin-bottom: 25px;
    padding: 6px;
    font-size: 24px;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
}

.CheckoutButton{
    display: block;
    margin: 20px auto 20px auto;
    font-size: 30px;
    text-align: center;
    padding: 20px;
    cursor: pointer;background-color: lightblue;
    color: white;
    background-color: #56CCF2;
    border: none;
    border-radius: 10px;
    font-weight: bold;
}

.errormessage{
    color: red;
}

.DonationGetContent{
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    margin-left: 0;
    margin-right:0 ;
}
.DonationGetPlacement{
    border-collapse: collapse;
    width: 100%;
}

.DonationGetPlacement th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: black;
    color: white;
    width: 31%;
}
.DonationGetPlacement td, .DonationGetPlacement th {
    border: 1px solid #ddd;
    padding: 8px;
  }

.dgc2{
    display: flex;
    margin-left: 8%;
}
.dgc3{
    display: flex;
    margin-left: 10%;
}
.dgc4{
    display: flex;
    margin-left: 20%;
}

.DonationGetContainer{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    border:3px solid;
}
.DonationGetContainer h4{
    margin: 20px;
}

.quiz{
    position: absolute;
    border-radius: 25px 25px 25px 25px;width:80%;height: auto;background-color: rgba(214, 214, 214, 0.322);display: block;margin-top:10%;margin-left:10%;
    font-family: 'Fuzzy Bubbles', cursive;

}


/* CSS */
.buttons001 {
    font-family: 'Fuzzy Bubbles', cursive;
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.buttons001:hover,
.buttons001:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.buttons001:hover {
  transform: translateY(-1px);
}

.buttons001:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}


/* CSS */
.buttons002 {
    font-family: 'Fuzzy Bubbles', cursive;
  background: #fff;
  backface-visibility: hidden;
  border-radius: .375rem;
  border-style: solid;
  border-width: .125rem;
  box-sizing: border-box;
  color: #212121;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,Helvetica,sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: -.01em;
  line-height: 1.3;
  padding: .875rem 1.125rem;
  position: relative;
  text-align: left;
  text-decoration: none;
  transform: translateZ(0) scale(1);
  transition: transform .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.buttons002:not(:disabled):hover {
  transform: scale(1.05);
}

.buttons002:not(:disabled):hover:active {
  transform: scale(1.05) translateY(.125rem);
}

.buttons002:focus {
  outline: 0 solid transparent;
}

.buttons002:focus:before {
  content: "";
  left: calc(-1*.375rem);
  pointer-events: none;
  position: absolute;
  top: calc(-1*.375rem);
  transition: border-radius;
  user-select: none;
}

.buttons002:focus:not(:focus-visible) {
  outline: 0 solid transparent;
}

.buttons002:focus:not(:focus-visible):before {
  border-width: 0;
}

.buttons002:not(:disabled):active {
  transform: translateY(.125rem);
}

@media only screen and (max-width: 1200px) {
    #dogcards{
        display: block;
        padding-left: 15%;
    }
}
@media only screen and (max-width: 900px) {
    #dogcards{
        display: block;
        padding-right: 15%;
    }
}

@media only screen and (max-width: 1200px) {
    #catcards{
        display: block;
        padding-left: 15%;
    }
}
@media only screen and (max-width: 900px) {
    #catcards{
        display: block;
        padding-right: 15%;
    }
}

.loader {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #84CEFF;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-duration: 10s;
    
}

.loader > img {
    width: 500px;
}

.loader.hidden {
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}
.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

@media (max-width:650px){
    .app{
        width: 100%;
        height: auto;
        margin: 0;
        position: relative;

    }
    
    .STW-Marker{
        position: absolute;
        width: 15%;
        top: 70%;
        left: 43%;
        transform: rotate(180deg);
        z-index: 1;
    }
    
    .STW-container{
        margin: 25px;
        width: 100%;
    }
    
    .STW-Wheel{
        width: 100%;
        height: 35%;
    
    }
    
    .STW-Button{
        display: block;
        width: 70%;
        margin-left: 15%;
    }

    .STW-content{
        display: flex;
        flex-flow: column wrap;
        width: 100%;
        align-items: center;
        text-align: center;
    }
    
    .STW-content h3{
        font-size: 2rem;
        margin: 10px;
    }
    .STW-Display{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
        height: 20%;
        border-radius: 20px;
        text-align: center;
        font-size: 1rem;
        margin: 20px;
        background-color: white;
        color: black;
    }
    .petshop-header-image{
        max-width: 60%;
        height: auto;
        text-align: center;
    }
    
    .petshop-header{
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        background-color: #fae5be;
        justify-content: center;
    }
    
    .petshop-information{
        display: flex;
        justify-content: center;
        width: 60%;
        height: 100%;
        text-align: center;
    }
    
    .petshop-information-content{
        text-align: center;
        flex-flow: column wrap;
        width: 90%;
        margin: 30px;
    }
    .cover-dog{
        height: 100%;
        background: url(images/Dog\ shop\ icon.jpg),url(images/Pugtoy.jpg),url(images/Dog\ bed.jpg);
        background-position: left, right, top;
        background-repeat: no-repeat, no-repeat,no-repeat;
        background-size: 32% 100%, 32% 100%, 32% 100%;
        margin-bottom: 5px;
        margin-left: 10px;
        margin-right:10px;
    }
    .cover-cat{
        height: 100%;
        background: url(images/Cat\ food\ wet.jpg),url(images/cattoy.jpg),url(images/litter\ box\ reshaped.jpg);
        background-position: left, right, top;
        background-repeat: no-repeat, no-repeat,no-repeat;
        background-size: 32% 100%, 32% 100%, 32% 100%;
        margin-left: 10px;
        margin-right:10px;
    }
    .cover-image button{
        width: 20%; 
        height: fit-content;
        border-radius: 10px;
        background-color: pink;
        color: white;
        border-color: pink;
        margin-left: auto;
        margin-right: auto;
    }
    .STWhrefcontainer{
        width: 100%;
        background-color: #fae5be;
    }
    
    .STWhrefcontainer img{
        width: 60%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        cursor: pointer;
    }
}