.logo{
    height: 70%;
    width: 40%;
}
.navheader{
    display: flex;
    justify-content: center;
    flex-flow: wrap row;
}
.navbar-dark .navbar-nav .nav-link {
    color: white;
}
.navbar-dark .navbar-nav .nav-link:hover {
    color: lightcoral;
}

.size{
    display: block;
    margin-left: 21%;
    width: 60%;
    height: auto;
}

.shop-container{
    display: flex;
    flex-flow: wrap row;
    justify-content: space-evenly;
}

.shop-items-container{
    display: flex;
    position: relative;
    flex-flow: column wrap;
    margin: 20px;
    background-color: peachpuff;
    text-align: center;
}

.cover-dog{
    height: 200px;
    background: url(images/Dog\ shop\ icon.jpg),url(images/dog\ toy.jpg),url(images/Dog\ bed.jpg);
    background-position: left, right, top;
    background-repeat: no-repeat, no-repeat,no-repeat;
    background-size: 34% 200px, 33% 330px, 34% 200px;
    margin-bottom: 5px;
}
.cover-image{
    display: flex;
    flex-flow: column wrap;
    text-align: center;
}
.cover-image button{
    width: 200px; 
    border-radius: 30px;
    background-color: transparent;
    color: green;
    border-color: green;
    margin-left: auto;
    margin-right: auto;
}


.petshop-header-image{
    width: 40%;
    height: 300px;
}

.petshop-header{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 300px;
}

.petshop-information{
    display: flex;
    background-color: lightblue;
    justify-content: center;
    width: 60%;
    height: 300px;
    overflow: hidden;
}

.petshop-information-content{
    text-align: center;
    flex-flow: column wrap;
    width: 90%;
    align-items: center;
}

.cover-cat{
    height: 200px;
    background: url(images/cat\ treat.jpg),url(images/cat\ toy.jpg),url(images/litter\ box.jpg);
    background-position: left, right, top;
    background-repeat: no-repeat, no-repeat,no-repeat;
    background-size: 34% 250px, 33% 250px, 34% 240px;
}

#shop-container-dog{
    display: none;
}

#shop-container-cat{
    display: none;
}